<%= render :partial => "layouts/page_header", :locals => { :header => "List Index" } %>

<div id="content">
  <% if @lists.length == 0 %>
    <p>You don't have any lists.</p>
  <% else %>
    <ul>
    <% @lists.each do |list| %>
      <ul>
        <li><%= link_to list.name, list_path(list) %></li>
      </ul>
      <hr/>
    <% end %>
    </ul>
  <% end %>
  <%= link_to 'Make a new list.', new_list_path %>
</div>
